{% extends "base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/station_view.css') }}">
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="w3-container w3-blue-grey head">
            <h1>{{ name }} lat: {{ lat }} lon: {{ lng }}</h1>
        </div>
        <div class="w3-container w3-teal head_in">
            <h1>Input</h1>
        </div>
        <div class="w3-container w3-blue-grey head_out">
            <h1>Output</h1>
        </div>


        <div class="map">
            <svg id="svg_map" width="100%" height="100%"></svg>
        </div>

        <div class="input">
            <div class="scroll">
                <div class="w3-card-4 data_input">

                    <header class="w3-container w3-teal collapsible">
                        <h2>Data</h2>
                    </header>
                    <div class="w3-container w3-white content">
                        {% for segment in file_ns %}
                            <p>
                            <div>
                                <input class="w3-check" type="checkbox">
                                <label>{{ segment }}</label>
                            </div>
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <P></P>
                <div class="w3-card-4 render_all">
                    <header class="w3-container w3-teal collapsible">
                        <h2>Rendering</h2>
                    </header>
                    <div class="w3-container w3-white content">
                        <p>
                        <div>
                            <input class="w3-check" id="render_all_check" type="checkbox">
                            <label>Render all Trajectories</label>
                        </div>
                        </p>
                    </div>
                </div>
                <P></P>
                <div class="w3-card-4">
                    <header class="w3-container w3-teal collapsible">
                        <h2>Sector</h2>
                    </header>
                    <div class="w3-container w3-white content">
                        <P>
                            <label>Start angle</label>
                            <input class="w3-input" id="start_angle_val" type="number" value=150>
                        <P>
                            <label>End angle</label>
                            <input class="w3-input" id="end_angle_val" type="number" value=270>
                        <P>
                            <label>Distance</label>
                            <input class="w3-input" id="sec_dist_val" type="number" value=50>
                        <P>
                            <label>Threshold (time outside sector)</label>
                            <input class="w3-input" id="sec_threshold_val" type="number" value=5>
                        <P>
                            <input class="w3-button w3-teal" id="add_sector" type="button" value="Add">
                    </div>

                </div>

                <p></p>
                <div class="w3-card-4">
                    <header class="w3-container w3-teal  collapsible">
                        <div class="w3-row-padding">
                            <div class="w3-half">
                                <h2>Filter</h2>
                            </div>
                            <div class="w3-half">
                                <P></P>
                                <select id="filter_option" class="w3-select" name="option">
                                    <option value="height">Height</option>
                                    <option value="pressure">Pressure</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <div class="w3-container w3-white content">
                        <P></P>
                        <label>Min</label>
                        <input class="w3-input" id="filter_min_val" type="number" value=0>
                        <P></P>
                        <label>Max</label>
                        <input class="w3-input" id="filter_max_val" type="number" value=0>
                        <P></P>
                        <label>Threshold</label>
                        <input class="w3-input" id="filter_thresh_val" type="number" value=0>
                        <P></P>
                        <input class="w3-button w3-teal" id="add_filter" type="button" value="Add">
                        <P></P>
                    </div>

                </div>
                <p></p>
                <div class="w3-card-4" id="dbscan_div">
                    <header class="w3-container w3-teal collapsible">
                        <h2>DBScan Cluster</h2>
                    </header>
                    <div class="w3-container w3-white content">
                        <P>
                            <!--
                            Old K-means style menu
                            <label>Number of clusters</label>
                            <input class="w3-input" id="number_of_cluster" type="number" value=0>
                             -->

                            <label>Minimum Samples for Cluster</label>
                            <input class="w3-input" id="minimum_samples_for_cluster" type="number" value="10">

                            <label>EPS Value (neighbourhood point radius)</label>
                            <input class="w3-input" id="eps_value" type="number" value="50">
                        <P>
                            <input class="w3-button w3-teal" id="add_cluster" type="button" value="Add">
                    </div>
                    <p></p>
                    <div class="w3-card-4" id="kmeans_div">
                        <header class="w3-container w3-teal collapsible">
                            <h2>K-Means Cluster</h2>
                        </header>
                        <div class="w3-container w3-white content">
                            <P>
                                <label>Number of clusters</label>
                                <input class="w3-input" id="number_of_cluster" type="number" value=0>
                            <P>
                                <input class="w3-button w3-teal" id="add_cluster_kmeans" type="button" value="Add">
                        </div>

                    </div>
                    <P></P>
                    <ul class="w3-ul w3-border w3-white" id="stack">

                    </ul>
                    <p></p>
                    <input class="w3-button w3-teal" id="calculate" type="button" value="Calculate">


                </div>
            </div>
        </div>

        <div class="output">
            <div class="scroll">
                <a id="export_data_button" class="w3-button w3-teal">Export Output</a>
                <div id="debugDiv"></div>
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='javascript/station_utils.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/station_view_input.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/sector.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/data_utils.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/stack.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/simpleheat.js') }}"></script>
    <script>


        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
        // Id of the stations
        let iid = "{{ id }}";

        // Data files in the stations directory
        let file_ns = [];
        let fn = "";
        {% for f in file_ns %}
            fn = "{{ url_for('static', filename='stations/1/2') }}".replace("1", iid).replace("2", "{{ f }}");
            file_ns.push(fn);
        {% endfor %}



        // Latitude and longitude of the station
        let lat = {{ lat }};
        let lng = {{ lng }};
        let pp = "{{ url_for('static', filename='stations/CGR/ERA-Interim_1degree_CapeGrim_100m_2016_hourly.json') }}";

        let lats = [], longs = [];
        let p = [];
        let p_ = [];
        let trans = [0, 0, 1];
        let data = null;

        console.log("test", file_ns);
        let data_manager = new data_utils.data_manager(iid, file_ns);
        data_manager.load(0).then(function () {
            console.log(data_manager.data);
            data = data_manager.data[0];
            renderMap();
        });


        $.getJSON(pp, function (j) {
            data = j;
            renderMap();

            let s = new process_stack.stack();
            let sec_test = new process_stack.sector(0, 45, 100, 5);
            let fil_test = new process_stack.filter("height", 0, 1000, 5);
            s.add(sec_test);
            s.add(fil_test);

            console.log(s.calculate());
        });


        const projection_ = d3.geoAzimuthalEqualArea().rotate([-lng, -lat]);
        const path = d3.geoPath().projection(projection_);
        const zoom = d3.zoom().scaleExtent([1, 9]).on('zoom', zoomed);

        const svg = d3.select('#svg_map');
        let w = parseInt(svg.style("width"));
        const g = svg.append('g').call(d3.zoom().on("zoom", function () {
            svg.attr("transform", d3.event.transform)
        }));

        d3.select('g').attr('transform', 'translate(-' + (w / 2) + ' 0)scale(' + (w / 600) + ')');
        svg.style("width", "100%");
        g.call(zoom);

        function renderMap() {
            d3.json("{{ url_for('static', filename='world-110m2.json') }}")
                .then(world => {
                    g.append('path')
                        .datum({type: 'Sphere'})
                        .attr('class', 'sphere')
                        .attr('d', path);

                    g.append('path')
                        .datum(topojson.merge(world, world.objects.countries.geometries))
                        .attr('class', 'land')
                        .attr('d', path);

                    g.append('path')
                        .datum(topojson.mesh(world, world.objects.countries, (a, b) => a !== b))
                        .attr('class', 'boundary')
                        .attr('d', path);

                    g.append("circle")
                        .attr("cx", projection_([lng, lat])[0])
                        .attr("cy", projection_([lng, lat])[1])
                        .attr("r", 2.5)
                        .style("fill", "white");
                });
        }

        let ll = projection_([lng, lat]);

        function renderSector(start, end, dist) {
            g.select(".arc").remove();
            var arc = d3.arc()
                .innerRadius(0)
                .outerRadius(dist)
                .startAngle(start * (Math.PI / 180))
                .endAngle(end * (Math.PI / 180));
            g.append("path")
                .attr("class", "arc")
                .attr("d", arc)
                .attr("transform", "translate(" + ll[0] * trans[2] + "," + ll[1] * trans[2] + ")" + "translate(" + trans[0] + "," + trans[1] + ")" + "scale(" + trans[2] + ")")
                .attr("fill-opacity", "0.3")
                .style("fill", "#8b0000");
        }


        let lineFunction = d3.line()
            .x(function (d) {
                return projection_([d[1], d[0]])[0];
            })
            .y(function (d) {
                return projection_([d[1], d[0]])[1];
            });


        function renderLines(mm, weight, colours) {
            console.log("COLOURS ARE : ");
            console.log(colours);
            console.log("For render lines, mm is ");
            console.log(mm);
            g.selectAll(".traj").remove();
            let lat_lng = [mm["lat"], mm["lon"]];
            let p = [];

            // for each cluster
            for (let l = 0; l < lat_lng[0].length; l++) {
                p_ = [];
                lats = lat_lng[0][l];
                longs = lat_lng[1][l];

                // for each traj in that cluster
                for (let i = 0; i < lats.length; i++) {
                    p_.push([lats[i], longs[i]]);
                }
                p.push(p_);
            }

            console.log(p);
            let m = Math.max(...weight);
            for (let i = 0; i < lat_lng[0].length; i++) {
                let w = weight[i];
                let hsl_string = "".concat("hsl(", colours[i], ", 50%, 50%)");
                console.log(hsl_string);
                g.append("path")
                    .attr("class", "traj")
                    .attr("d", lineFunction(p[i]))
                    .attr("stroke", hsl_string)
                    // .attr("stroke", function () {
                    //     return "red";
                    // })
                    .attr("opacity", 0.7)
                    .attr("stroke-width", (w / m) * 2.5)
                    .attr("fill", "none")
                    .attr("transform", "translate(" + trans[0] + "," + trans[1] + ")" + "scale(" + trans[2] + ")");
            }
        }

        function render_all_lines2(mm) {
            let lat_lng = [mm["lat"], mm["lon"]];

            let p = [];
            for (let l = 0; l < lat_lng[0].length; l += 100) {
                lats = lat_lng[0][l];
                longs = lat_lng[1][l];

                // steps in 10
                for (let i = 0; i < lats.length; i += 1) {
                    p_.push([parseInt(lats[i]), parseInt(longs[i])]);
                }
                p.push(p_);
            }
            {#p = new Set(p);#}
            console.log(p);
        }
        function render_all_lines(mm, parse = true) {
            if (parse) {
                mm = JSON.parse(mm);
            }

            g.selectAll(".traj").remove();
            let lat_lng = [mm["lat"], mm["lon"]];
            // console.log(lat_lng);
            // steps in 10
            let p = [];
            for (let l = 0; l < lat_lng[0].length; l += 1) {
                p_ = [];
                lats = lat_lng[0][l];
                longs = lat_lng[1][l];

                // steps in 10
                for (let i = 0; i < lats.length; i += 1) {
                    p_.push([lats[i], longs[i]]);
                }
                p.push(p_);
            }
            console.log(p);
            // let m = Math.max(...weight);
            for (let i = 0; i < lat_lng[0].length; i++) {
                // let w = weight[i];
                g.append("path")
                    .attr("class", "traj")
                    .attr("d", lineFunction(p[i]))

                    .attr("stroke", function () {
                        return "gray";
                    }).attr("id", i)
                    .attr("stroke-width", 0.5)
                    .attr("fill", "none")
                    .attr("opacity", 0.2)
                    .attr("transform", "translate(" + trans[0] + "," + trans[1] + ")" + "scale(" + trans[2] + ")")
                    .on("click", function () {
                        console.log(d3.select(this).attr("id"));
                    });
            }

        }


        function zoomed() {
            trans = [d3.event.transform.x, d3.event.transform.y, d3.event.transform.k];
            g.selectAll('path')
                .attr('transform', d3.event.transform);
            g.selectAll('circle')
                .attr('transform', d3.event.transform);
            g.selectAll('.arc').attr("transform", "translate(" + ll[0] * d3.event.transform.k + "," + ll[1] * d3.event.transform.k + ")" + d3.event.transform);
        }


    </script>
{% endblock %}