.sphere {
    fill: #006994;
}

.land {
    fill: #567D46;
    stroke: #333;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.boundary {
    fill: none;
    stroke: #333;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}