/*::-webkit-scrollbar {*/
/*    width: 0px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: gray;*/
/*    border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: teal;*/
/*}*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #929292;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #008080;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005050;
}