.wrapper {
    display: grid;
    grid-template-rows: 8% 92%;
    grid-template-columns: 50% 25% 25%;
    width: 100vw;
    height: 100vh;
}

body.wait *, body.wait
{
    cursor: progress !important;
}

.head {
    grid-column: 1;
}

.head_in {
    grid-column: 2;
}

.head_out {
    grid-column: 3;
}

.map {
    background-color: #666;
    grid-row: 2;
    grid-column: 1;
    position: relative;

}

.map svg, .map canvas {
    position: absolute;
    top: 0;
}

.map canvas {
    pointer-events: none;
}

.input {
    background-color: #555;
    grid-row: 2;
    grid-column: 2;

    position: relative;

    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}


.output {
    background-color: #555;
    grid-row: 2;
    grid-column: 2;
    padding: 20px;
    position: relative;

    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.scroll {
    max-height: 100%;
    padding: 20px;
    overflow: auto;
}

.output {
    background-color: #666;
    grid-row: 2;
    grid-column: 3;

}

#calculate {
    width: 100%;
}

.sphere {
    stroke: #333;
}

.collapsible {
    cursor: pointer
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.stack_item {
    transition: background-color 0.5s ease;
    cursor: pointer
}

.stack_item:hover {
    background: #aa3839;
}

.stack_item:hover > * {
    color: #aa3839;
}

.stack_item:hover > img {
    visibility: visible;
}

.key_list {
    height: 100px;
    width: 100%;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0;
}
.key_list li {
    position: relative;
    padding-left: 20px;
}
.key_list li:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url('../images/favicon.ico');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.output .scroll > * {
    margin: 20px 0;
}

.output .scroll > *:first-child {
    margin-top: 0px;
}
